.btn-primary{
  display: inline-block;
  background-color: white;
  padding: 2rem 8rem;
  border-radius: 10px;
}

// .card-depoimento {
//     width: 100%;
//     max-width: 38.4rem;
//     height: 20.9rem;
//     background-color: rgba(246, 244, 255, 0.877);
//     border-radius: 8px;
//     padding: 3.7rem 3.2rem 2.3rem 3.2rem;

//     .user {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: space-between;
//       margin-bottom: 2.1rem;
//       strong {
//         font-family: "Poppins", sans-serif;
//         font-weight: 600;
//         font-size: 1.8rem;
//         line-height: 112%;
//         letter-spacing: -1px;
//         color: rgb(105, 62, 62);
//       }
//     }
//     p {
//       font-size: 1.8rem;
//       line-height: 150%;
//       color: rgb(159, 32, 32);
//     }
//   }